<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu Quản Lý Ký Túc Xá</title>
    <link rel="stylesheet" href="style.css"> 
</head>
<body>

<div class="wrapper">
    <div class="container">
        <img src="https://utt.edu.vn/uploads/images/news/a3c6300f101eb8455520e04d0219671d.jpg" alt="Logo" class="logo">
        <div class="content">
            <h2>Quản lý ký túc xá</h2>
            <div class="sidebar">
                <ul>
                    <li><a href="../account/index.html">Quản lý Tài khoản</a></li>
                    <li><a href="../student/index.html">Quản lý Sinh viên</a></li>
                    <li><a href="../room/index.html">Quản lý Phòng</a></li>
                    <li><a href="../bill/index.html">Quản lý Hóa đơn</a></li>
                    <li><a href="../../api/logout.php">Đăng xuất</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

</body>
</html>
