/* style.css */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

.registration-container {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 20px;
}

.button-form {
    display: flex;
    text-align: center;
    padding: 10px;
    margin: 10%;
    margin-right: 10px;
    /* background-color: black; */
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button[type="submit"],
button.huy-button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
}

button[type="submit"] {
    background-color: #007bff;
    color: #fff;
}

button[type="submit"]:hover {
    background-color: #0056b3;
}

button.huy-button {
    background-color: #ff9900; /* Change to your desired color */
    color: #fff; /* Text color */
}

button.huy-button:hover {
    background-color: #e68a00; /* Change to your desired hover color */
}
